*{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.headers-container{
    display: flex;
    justify-content: center;
    background-color :beige;
    height: 80px;
    width: auto;
  
}
.content{
   
    flex-basis: 50%;
    display: flex;
    align-items: center ;
    justify-content:  center;
}

.anchor {
    color: white;
}
.route-container{
    
    flex-basis: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center}


.products-container{
    background-color: aquamarine;
    display: flex;
    flex-basis: auto;
    justify-content: space-around;
    align-items: center;
}

.productDescription{
    margin-top: 100px;
}