.Headers-container{
    height : 100px;
    width: auto;
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
    flex-basis: 50%;
    align-items: center;
    justify-content: space-evenly;
}
.link-Element {
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
      
}

.Product-Details{
    margin-top: 20px;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}